html, body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;      /* auto olmasın */
  padding: 0;     /* 2rem olmasın */
}
.layout{
  display: flex;
  min-height: 100vh;
  align-items: stretch;     
  justify-content: flex-start; 
}

.content{
  flex: 1;
  min-width: 0;
  width: 100%;
  display: block;          
}



.sidebar {
  width: 220px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
}

